
body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header auto, artikel isi ruang, footer auto */
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.page-header {
  background-color: pink;
  text-align: center;
  padding: 15px;
}

.main-article {
  background-color: aliceblue;
  padding: 20px; 
  text-align: justify;
  line-height: 1.6;
}

#gambar-artikel {
  float: left;                
  margin: 0 15px 10px 0;      
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.page-footer {
  background-color: cornsilk;
  text-align: center;
  padding: 10px;
  font-style: italic;
}
